<a href="https://colab.research.google.com/github/vvardhan11/Info5731/blob/main/INFO5731_Assignment_One_fall2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [53]:
# Your code here

import random 

def randon_integers(start,end,num): 
  list1= [] 

  for i in range(number_of_integers): 
    list1.append(random.randint(start,end)) 

  return list1

number_of_integers =12
start = 1
end = 100
final = randon_integers(start,end,number_of_integers)
print("final list",final)

final.sort()
print("\nlist of numbers in ascending order",final)

final.sort(reverse=True)
print("\nlist of numbers in descending order",final)

z=sum(final)/len(final)
print("\naverage for the list",z)

final list [85, 74, 88, 9, 14, 79, 81, 96, 41, 1, 93, 73]

list of numbers in ascending order [1, 9, 14, 41, 73, 74, 79, 81, 85, 88, 93, 96]

list of numbers in descending order [96, 93, 88, 85, 81, 79, 74, 73, 41, 14, 9, 1]

average for the list 61.166666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [55]:
# Your code here
str1=str(input("Enter the first string\t"))
str2=str(input("Enter the second string\t"))

import re
strlist1=re.findall(r"[\w']+|[.,!?;:!]",str1)
strlist2=re.findall(r"[\w']+|[.,!?;:!]",str2)

print(strlist1)
print("\n",strlist2)

def compare(a, b):
    set1 = set(a)
    set2 = set(b)
 
    if (set1 & set2):
        print("common elements in both lists are",set1 & set2)
    else:
        print("No common elements")
compare(strlist1,strlist2)

import re
str1 = re.sub(r'[^\w\s]', '', str1)
str2 = re.sub(r'[^\w\s]', '', str2)

print(str1)
print(str2)

vowel_counts_str1 = {}
vowel_counts_str2 = {}

str1=str1.lower()
str2=str2.lower()

for i in "aeiou":
  count = str1.count(i)
  vowel_counts_str1[i] = count

for i in "aeiou":
  count = str2.count(i)
  vowel_counts_str2[i] = count

print(vowel_counts_str1)
print(vowel_counts_str2)

#print("common elements in both lists are",compare(strlist1,strlist2))

Enter the first string	Alas! Am I alive? This is my first python program
Enter the second string	is ? ; fr the Am
['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']

 ['is', '?', ';', 'fr', 'the', 'Am']
common elements in both lists are {'?', 'is', 'Am'}
Alas Am I alive This is my first python program
is   fr the Am
{'a': 5, 'e': 1, 'i': 5, 'o': 2, 'u': 0}
{'a': 1, 'e': 1, 'i': 1, 'o': 0, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [56]:
# Your code here
pi=3.14
print("r   v")
for r in range(1,11):
  v=4/3*pi*(r**3)
  print(r," ",v)

r   v
1   4.1866666666666665
2   33.49333333333333
3   113.03999999999999
4   267.94666666666666
5   523.3333333333334
6   904.3199999999999
7   1436.0266666666666
8   2143.5733333333333
9   3052.08
10   4186.666666666667

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [2]:
# Your code here

from google.colab import files
uploaded = files.upload()

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing.csv

In [3]:
import pandas as pd
import io
  
df = pd.read_csv(io.BytesIO(uploaded['Assignment1_denton_housing.csv']))
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [4]:
rslt_df = df[df['title_field'] == "Occupied Housing Units"]
res = rslt_df.drop(["year","title_field"],axis=1)

    year             title_field  value
2   2014  Occupied Housing Units  46295
5   2013  Occupied Housing Units  43673
8   2012  Occupied Housing Units  42108
11  2011  Occupied Housing Units  40704
14  2010  Occupied Housing Units  41007
17  2009  Occupied Housing Units  35916
20  2008  Occupied Housing Units  36711

In [6]:
final = 0-res.diff()
final = final.dropna()
final=final.iloc[::-1]

In [15]:
final["year"] = ['2008-2009','2009-2010','2010-2011','2011-2012','2012-2013','2013-2014']
print("difference in occupied units")
final

difference in occupied units

     value       year
20  -795.0  2008-2009
17  5091.0  2009-2010
14  -303.0  2010-2011
11  1404.0  2011-2012
8   1565.0  2012-2013
5   2622.0  2013-2014

In [16]:
output=final.sort_values(['value'],ascending=True)
print("difference in occupied units in ascending order")
output

difference in occupied units in ascending order

     value       year
20  -795.0  2008-2009
14  -303.0  2010-2011
11  1404.0  2011-2012
8   1565.0  2012-2013
5   2622.0  2013-2014
17  5091.0  2009-2010

In [9]:
totval=df.loc[df['title_field'] == 'Total Housing Units']
totval.reset_index(drop=True,inplace=True)
vacval=df.loc[df['title_field'] == 'Vacant Housing Units']
vacant = vacval.drop(["year","title_field",],axis =1)
vacant.reset_index(drop=True,inplace=True)
totval.insert(3, "value_of_vacant_units", vacant)
occval=df.loc[df['title_field'] == 'Occupied Housing Units']
occupied = occval.drop(["year","title_field"],axis =1)
occupied.reset_index(drop=True,inplace=True)
totval.insert(4, "value_of_occupied_units", occupied)
vacant_percentage=(totval['value_of_vacant_units']/totval['value'])*100
occupied_percentage=(totval['value_of_occupied_units']/totval['value'])*100
totval.insert(5, "perventage_of_vacant_units", vacant_percentage)
totval.insert(6, "perventage_of_occupied_units", occupied_percentage)
totval

,year,title_field,value,value_of_vacant_units,value_of_occupied_units
0,2014,Total Housing Units,49109,2814,46295
1,2013,Total Housing Units,47888,4215,43673
2,2012,Total Housing Units,45121,3013,42108
3,2011,Total Housing Units,44917,4213,40704
4,2010,Total Housing Units,44642,3635,41007
5,2009,Total Housing Units,39499,3583,35916
6,2008,Total Housing Units,41194,4483,36711

In [21]:
final_result=totval.drop(["title_field",'value','value_of_vacant_units','value_of_occupied_units'],axis =1)
final_result

      perventage_of_vacant_units  perventage_of_occupied_units
year
2014                    5.730111                     94.269889
2013                    8.801788                     91.198212
2012                    6.677600                     93.322400
2011                    9.379522                     90.620478
2010                    8.142556                     91.857444
2009                    9.071116                     90.928884
2008                   10.882653                     89.117347

In [48]:
y=totval.drop(['value','title_field','perventage_of_vacant_units','perventage_of_occupied_units'],axis =1)
x=pd.DataFrame(y.max())
x['year']=y.idxmax()
x=x.rename({0: "value"}, axis='columns')
x

                         value  year
value_of_vacant_units     4483  2008
value_of_occupied_units  46295  2014

In [52]:
import scipy
from scipy import stats
 
print("harmonic mean of the total housing units = ",scipy.stats.hmean(totval.loc[:,"value"]))

harmonic mean of the total housing units =  44398.28543969185